@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

.mt-20 {
    margin-top: 20px;
}

.panel-heading {
    font-size: 21px;
    font-weight: 200;
}

hr {
    height: 1px !important;
    background-color: #BCBCBC;
}
